.Button {
    @apply py-2 px-2 rounded-md inline-flex justify-center items-center text-center
    transition transition-all duration-200
    hover:shadow
}

.Button.sm {
    @apply py-1 text-sm
}

.Button.lg {
    @apply px-8 py-4 text-lg
}

.Button.primary {
    @apply bg-indigo-600 text-indigo-50
    hover:bg-indigo-700
}

.Button.secondary {
    @apply bg-indigo-50 text-indigo-900
    hover:bg-indigo-100;
}

.Button.green {
    @apply bg-green-500 text-green-50
    hover:bg-green-600
}

.Button.red {
    @apply bg-red-500 text-red-50
    hover:bg-red-600
}

.Button.red-light {
    @apply bg-red-50 text-red-900
    hover:bg-red-100
}

.Button.yellow {
    @apply bg-yellow-500 text-yellow-50
    hover:bg-yellow-600
}

.Button.yellow-light {
    @apply bg-yellow-50 text-yellow-900
    hover:bg-yellow-100
}